@model StudentVM
@inject IstudentCourse StdCrs
@inject ICourse crs
@{
    ViewData["Title"] = "Details";
}
@section css{
<link rel="stylesheet" href="~/assets/css/custom.css" />
<link rel="stylesheet" href="~/assets/css/student.css" />

}

<h2>Student Data </h2>



<form class="create" asp-controller="Student" asp-action="Create" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label asp-for="Name"> Student Name:</label><br />
        <input type="text" asp-for="Name"  class="form-control" readonly />
  
    

    </div>
       <div class="form-group">
        <label asp-for="address">  Student Address:</label><br />
        <input type="text" asp-for="address"  class="form-control" readonly />
        

    </div>

    <div class="form-group">
  <label asp-for="img">  Student image:</label><br />
      <img src="~/images/@Model.imgname" class="img-thumbnail" style="height:150px" />
    </div>
       <div class="form-group">
        <label asp-for="phone"> Student phone:</label><br />
        <input type="phone" asp-for="phone"  class="form-control" readonly />
 
     

    </div>
       <div class="form-group">
        <label asp-for="mail"> Student mail:</label><br />
        <input type="text" asp-for="mail"  class="form-control" readonly />
        
      

    </div>

       <div class="form-group">
        <label asp-for="BirthDate"> Student Birthdate:</label><br />
        <input type="date" asp-for="BirthDate"  class="form-control" readonly />
        </div>

             <div class="form-group">
        <label asp-for="DepartmentId"> Student Department:</label><br />
       <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.departments" class="form-control" style="background-color: white;color: black;" disabled>


       </select>
       

    </div>
      
    <center>
        <div>
      
        <a asp-controller="Student" asp-action="Index" class="btn btn-success">Back To Home</a>
        </div>
    </center>
    <center>
        <table class="table table-bordered table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th>Course ID</th>
                      <th>Course Name</th>
                      <th>hours</th>
                      <th>Degree</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in StdCrs.GetStudent_degrees(Model.StudentId))
                {
                    <tr>
                        <td>@item.CourseId</td>
                        <td>@crs.Getbyid(@item.CourseId).Name</td>
                           <td>@crs.Getbyid(@item.CourseId).hours</td>
                        <td>@item.degree</td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
</form>


